* {
  box-sizing: border-box;
}
.body {
  background-color: #cec3e2;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}
.wrapper {
  margin: auto;
  max-width: 1100px;
  text-align: center;
}
.title {
  color: #ECF9FF;
}