.keyboard {
  display: flex;
  flex-direction: column;
  width: 836px;
  margin: auto;
}

.keyboard__row {
  display: flex;
  margin-bottom: 5px;
  gap: 5px;
  justify-content: center;
}

.text-area {
  width: 836px;
  height: 255px;
  resize: none;
  outline: none;
  background: #ECF2FF;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}